<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/css/comman.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>
<body>
   <header class="navbar">
    <div class="nav-img" style="color: black;">
       <h1>Artline</h1>
    </div>
     <nav class="nav">
        <a href="{{url_for('dashboard')}}">Home</a>
        <a href="{{url_for('orders')}}">Orders</a>
        <a href="{{url_for('businesses')}}">Businesses</a>
        <a href="{{url_for('products')}}">Prodcuts</a>
        <a href="{{ url_for('logout') }}">Logout</a>
     </nav>

   </header>

   
    <div class="container">
        <aside class="side-bar">
            <ul>
                <li><a href="{{url_for('dashboard')}}"><i class="fa-solid fa-house-chimney"></i> Home</a></li>
                <li><a href="{{url_for('orders')}}"><i class="fa-solid fa-users"></i> Orders</a></li>
                <li><a href="{{url_for('businesses')}}"><i class="fa-solid fa-briefcase"></i> Businesses</a></li>               
                <li><a href="{{url_for('products')}}"><i class="fa-solid fa-bag-shopping"></i> Products</a></li>
                <li><a href="{{url_for('profile')}}"><i class="fa-solid fa-circle-user"></i>  Profile</a></li>
            </ul>
        </aside>

        <main class="main-content">
            <h1>Welcome {{ session['username']}}!</h1>
            <p>Here you can manage users, view statistics, and perform administrative tasks.</p>


                <div class="dashboard-cards">
                    <div class= "card"  onclick="window.location.href= '{{ url_for('current_orders') }}'">
                        <h2>Current Orders</h2>
                        <p>{{ pending_orders }}</p>
                    </div>

                    <div class= "card"  onclick="window.location.href= '{{ url_for('orders') }}'">
                        <h2>Total Orders</h2>
                        <p>{{ order_count }}</p>
                    </div>

                    
                    <div class="card" onclick="window.location.href= '{{ url_for('businesses') }}'">
                        <h2>Total Businesses</h2>
                        <p>{{ business_count }}</p>
                        
                    </div>
                    <div class="card" onclick="window.location.href= '{{ url_for('products') }}'">
                        <h2>Total Products</h2>
                        <p>{{ product_count }}</p>
                    </div>


            

        </main>


            
    </div>
    
</body>
</html>